<div class="row">
	<div class="span8">
		<div class="main_content">

			<h2>Über das Projekt</h2>

			<p>tipp2 ist ein klassisches Fußball-Tippspiel. Melde Dich an, tippe auf Spiele, sammel Punkte und gewinne gegen andere Spieler.</p>

			<p>Diese Website ist ein privates Hobbyprojekt, welches ständig weiterentwickelt wird. Daher kann es immer wieder zu technischen Schwierigkeiten kommen, die ich schon jetzt entschuldige. Ich kann leider keine Verantwortung für Datenverlust oder nicht korrekt funktionierende Tippabrechnungen übernehmen. Falls etwas nicht funktioniert, nehmt bitte Kontakt mit mir auf.</p>

			<p>Alles weitere zum Entwicklungs-Status, zu geplanten Features, zum Drumherum findet ihr im <a target="_blank" href="http://blog.tipp2.net/">tipp2-Blog</a></p>


			<h4>Technisches</h4>

			<p>tipp2 ist eine Applikation basierend auf dem Web-Framework '<a href="http://rubyonrails.org/">Ruby on Rails</a>'. Als Basis für das Layout wurde <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap 2.0</a> verwendet.</p>

			<h4>Feedback</h4>

			<p>Ich freue mich sehr über Feedback von den Benutzern der Seite. Bitte meldet Euch bei mir wenn Dinge nicht funktionieren wie sie sollten, wenn die Bedienung der Seite unverständlich ist oder ihr Vorschläge für Verbesserungen und neue Features habt.</p>

			<p><a target="_blank" href="http://blog.tipp2.net/?page_id=10">Zum Feedback-Bereich im Blog</a></p>
		</div>
	</div>

	<div class="span4">
		<%= render 'feedback' %>
	</div>
</div>