<div class="row">
	<div class="span8">
		<div class="main_content">
			<h2>Impressum</h2>

			<p>Dies ist ein privates Projekt von:</p>

			<p>Marc Otten</p>
			<p>Dortmund, Germany</p>
			<p>+49 170 210 41 78</p>
			<p><a target="_blank" href="http://22dev.de">22dev.de</a></p>
			<p><a class="btn btn-small" href="mailto:marc@22dev.de"><i class="icon-envelope icon-large"></i>E-Mail</a></p>
		</div>
	</div>

	<div class="span4">
		<%= render 'feedback' %>
	</div>
</div>