<div class="row">
	<div class="span8">
		<div class="main_content">
			<h2>Spielregeln</h2>

			<p>Bei tipp2 tippen die Spieler auf Ergebnisse von Fussballspielen. Für richtige Tipps gibt es Punkte. Es geht darum, im Verlauf eines Wettbewerbes die meisten Punkte zu sammeln und so das Tippspiel zu gewinnen.</p>

			<h4>Punkteregeln</h4>

			<ul>
				<li>Tipps können bis zum Anstoß der Partie abgegeben werden</li>
				<li>Für ein genau richtig getipptes Ergebnis gibt es <b>3 Punkte</b>. (Beispiel: Ergebnis 3:1, Tipp 3:1)</li>
				<li>Für einen richtig getippten Torabstand gibt es <b>2 Punkte</b>. (Beispiel: Ergebnis 3:1, Tipp 2:0)</li>
				<li>Für eine richtig getippte Tendenz (Sieg, Unentschieden, Niederlage) gibt es <b>1 Punkt</b>. (Beispiel: Ergebnis 3:1, Tipp: 3:0)</li>
				<li>Bei Elfmeterschießen zählt gewonnenes Elfmeterschießen als ein Tor (Beispiel: Ergebnis nach Verlängerung 1:1, nach Elfmeterschießen 4:5 wird als 1:2 gewertet).</li>
			</ul>
		</div>
	</div>

	<div class="span4">
		<%= render 'feedback' %>
	</div>
</div>