<p>Quiubo <%= @resource.username %>!</p>

<p>Disque se le olvido el password parcero? Haga click en el link... que sea la ultima vez!</p>

<p><%= link_to 'Cambiar el password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
